{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20"></textarea><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}

    <script type="text/javascript">
        var user = '{{ request.user }}'
              function getToken(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    } 
                }
                return cookieValue;
              }
        const csrftoken = getToken('csrftoken');
      </script>
    <script type="text/javascript" src="{% static 'js/reconnectingWebsockets.js' %}"></script>
    <script>
        
        const roomName = JSON.parse(document.getElementById('room-name').textContent);
        getmessages(roomName);
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );
        
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
            
        };

        function getmessages(group){
            console.log('Fetching Messages...')
            var url ='http://127.0.0.1:8000/'+roomName+'/messages/' //roomName +'/messages/'
            fetch(
                url, {
                    method: 'GET',
                    headers:{
                        'Content-Type':'application/json',
                        'X-CSRFToken': csrftoken,                        
                    },
                }
            )
            .then((response) => {
                console.log(response.clone().json())
                return response.clone().json();
            })
            .then((messages) =>{
                console.log(typeof(messages))
                for(arr in messages){
                    for(obj in arr){
                        console.log("sending group message......")
                       const msg = messages[arr][obj]['content']
                       const author = messages[arr][obj]['author']
                       const time = messages[arr][obj]['timestamp']
                       document.querySelector('#chat-log').value += (time + '\n');
                       document.querySelector('#chat-log').value += (author + '\n');
                       document.querySelector('#chat-log').value += (msg + '\n');
                    }
                }
                //location.reload()
            });
        }
    </script>
</body>
</html>